.gear-page {
    background-color: rgb(225, 225, 225);
    box-shadow: 0px 0px 8px 10px rgb(225, 225, 225);
    padding: 10px;
    line-height: 1.4;
}

.gear-heading {
    font-family: 'Eczar', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #0CA01D;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.gear-subheading {
    font-size: 20px;
    text-align: center;
}

.gear-intro {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}

.gear-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.gear-pic {
    margin: 15px;
    box-shadow: 0px 0px 8px 10px #0CA01D;
}

.bottles-pic {
    width: 30%;
}

.small-pack-pic {
    width: 50%;
    height: 100%;
}

.large-pack-pic {
    width: 45%;
}

.shirts-pic {
    width: 45%;
}

@media screen and (min-width: 1000px) {
    .gear-heading {
        font-size: 35px;
    }

    .gear-subheading {
        font-size: 25px;
    }
    
    .gear-intro {
        font-size: 20px;
    }
}