.supplements-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supplement-box {
    border: 4px solid pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supplement-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}