.smoothies-page-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smoothie-sizes {
    display: flex;
    justify-content: space-around;
}

.smoothies-section {
    display: flex;
}

.smoothie-heading {
    text-align: center;
}

.smoothies20-list {
    border: 1px solid green;
    width: 50%;
}

.smoothies32-list {
    border: 1px solid red;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
    .smoothies20-list {
        display: flex;
        flex-wrap: wrap;
    }

    .smoothies32-list {
        display: flex;
        flex-wrap: wrap;
    }
}