.header {
    border: 1px solid red;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.store-name {
    border: 1px solid green;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.address-and-number {
    border: 1px solid green;
    width: fit-content;
}

.hours {
    border: 1px solid green;
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
}