.cafe-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cafe-ingredients {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category {
    border: 2px solid orange;
    width: fit-content;
}